@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

$violet: #993398;
$green: #00FF00;

$theme-colors: (
  "primary": $violet,
  "secondary": $green
);

$font-family-base: 'Roboto', sans-serif;
